h1, h2{
    color: blue;
    font-family:serif;
    font-size:50px;
}
p{
    color: navy;
}
body{
    background-image: url("jojo_Thehim.png");
    padding:50px;
}
.about{
    max-width: 3000px;
    background-color:lavender;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-top:30px;
}

ul{
    width:200px;
    margin-left:auto;
    margin-right:auto;
}
li{
    text-align:left;
    padding-left:20px;
    margin-top:10px;
}
ol{
    width:100px;
    margin-left:auto;
    margin-right:auto;
}

.welcome{
    margin-right: auto;
    margin-left: auto;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
  }
  
  .topnav> a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav> a:hover {
    background-color: #0400d6;
    color: black;
  }
  
  .topnav> a.active {
    background-color: #0400d6;
    color: black;
  }
